body {
  height: 100vh;
  margin: 10px;
  background-color: #10141E;
  color: white;
}

ul {
  padding-inline-start: 0;

}

a {
  text-decoration: none;
  color: white;
}

.home {
  width: 100%;
  display: flex;

  &-comp {
    width: 90%;
    margin: auto;
  }
}

.input {
  margin-left: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  input {
    width: 75%;
    height: 30px;
    display: flex;
    font-size: 20px;
    background-color: #10141E;
    border: none;

  }

  input:focus {

    outline: none;
    border-bottom: 1px solid white;
    color: white;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #161D2F;
  height: 830px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;

  font-size: 35px;

  padding: 20px;

  a {
    text-decoration: none;
    color: white;
  }

  &-center {
    gap: 20px;
    display: flex;
    flex-direction: column;

    &-first {
      a {
        color: red;

      }
    }
  }

  &-center-second {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.router {
  display: flex;
}

.recommed-general {
  display: flex;
  flex-wrap: wrap;

  .recommed {
    list-style: none;
    width: 20%;
    margin-bottom: 50px;

    &-image {

      img {
        width: 75%;
        border-radius: 10px;
      }
    }

    .btn-deneme {
      bottom: 90%;
      padding-right: 25%;
      position: relative;
      align-items: end;
      display: flex;
      justify-content: end;
      flex-direction: column;
      gap: 20px;

      button:hover {
        cursor: pointer;
      }
    }

    .position {
      background: none;
      color: white;
      font-size: 25px;
      border: none;
    }

    .position-not {
      color: gray;
      font-size: 25px;
      border: none;
      background: none;
    }

    &-title {

      .product-descriptions {
        display: flex;
        gap: 20px;
        font-size: 12px;
        margin-bottom: 9px;
        color: rgb(195, 196, 199);
      }

      .product-title {
        font-size: 20px;
      }
    }
  }
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.recommed-image img {
  max-width: 100%;
  height: auto;
}

.home-text {
  font-size: 32px;
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 20px;

  &-general {
    width: 20%;
    margin-bottom: 50px;
  }

  img {
    width: 75%;
    border-radius: 10px;
  }
}

.movies_filter-general {
  list-style: none;
}

.movies_filter {
  margin: 20px;
  gap: 30px;
&-title{
  width: 100%;
}
  &-general {
    width: 70%;
    margin-bottom: 50px;
.movies_filter-top{
  display: flex;
  gap: 50px;
  font-size: 30px;
}
  }

  img {
    width: 100%;
  }
}

.movie_top {
  display: flex;
  margin-left: 40%;

  &-link {
    button {
      color: white;
      font-size: 25px;
      padding: 0;
      margin: 0;
      border: none;
      background: none;
      cursor: pointer;
    }

    button {
      --primary-color: white;
      --hovered-color: #c84747;
      position: relative;
      display: flex;
      font-weight: 800;
      font-size: 30px;
      gap: 0.5rem;
      align-items: center;
    }

    button p {
      margin: 0;
      position: relative;
      font-size: 20px;
      color: white;
    }

    button::after {
      position: absolute;
      content: "";
      width: 0;
      left: 0;
      bottom: -7px;
      background: red;
      height: 2px;
      transition: 0.3s ease-out;
    }

    button p::before {
      position: absolute;
      /*   box-sizing: border-box; */
      content: "Subscribe";
      width: 0%;
      inset: 0;
      color: var(--hovered-color);
      overflow: hidden;
      transition: 0.3s ease-out;
    }

    button:hover::after {
      width: 100%;
    }

    button:hover p::before {
      width: 100%;
    }

    button:hover svg {
      transform: translateX(4px);
      color: red;
    }

    button svg {
      color: white;
      transition: 0.2s;
      position: relative;
      width: 15px;
      transition-delay: 0.2s;
    }
  }
}

.movies {
  button {
    color: white;
    font-size: 25px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  button {
    --primary-color: white;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 30px;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: white;
  }

  button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: red;
    height: 2px;
    transition: 0.3s ease-out;
  }

  button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }

  button:hover::after {
    width: 100%;
  }

  button:hover p::before {
    width: 100%;
  }

  button:hover svg {
    transform: translateX(4px);
    color: red;
  }

  button svg {
    color: white;
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }


}